@using Microsoft.Ajax.Utilities
@model IntegrationProject.ViewModels.DashBoardViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}
<body>
    <br />
    <br />
    <br />
    <div class="container body-content">
        <div class="container">
            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <div class="profile-userpic">
                            <img src="~/Content/default_avatar.png" height="180px" width="180px" class="img-responsive" alt="">
                        </div>
                        <br />
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                @Model.User.FirstName @Model.User.LastName
                            </div>
                            <div class="profile-usertitle-job">
                                User
                            </div>
                        </div>
                        <br />
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li class="active">
                                    <a id="homeButton" onclick="location.href='@Url.Action("Index", "DashBoard")'">
                                        <i class="glyphicon glyphicon-home"></i>
                                        &nbsp;Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a id="updateAccountButton" onclick="location.href='@Url.Action("UpdateAccount", "DashBoard")'">
                                        <i class="glyphicon glyphicon-user"></i>
                                        &nbsp;Account Settings
                                    </a>
                                </li>
                                <li>
                                    <a id="updateInterestsButton" onclick="location.href='@Url.Action("UpdateInterests", "DashBoard")'">
                                        <i class="glyphicon glyphicon-ok"></i>
                                        &nbsp;Interests
                                    </a>
                                </li>
                                <li>
                                    <a id="directionsButton" onclick="location.href='@Url.Action("Directions", "DashBoard")'">
                                        <i class="glyphicon glyphicon-dashboard"></i>
                                        &nbsp;Directions
                                    </a>
                                </li>
                                <li>
                                    <a id="searchEventsButton" onclick="location.href='@Url.Action("Events", "DashBoard")'">
                                        <i class="glyphicon glyphicon-arrow-right"></i>
                                        &nbsp;Search Events
                                    </a>
                                </li>
                                <li>
                                <a id="calendarButton" onclick="location.href='@Url.Action("Calendar", "DashBoard")'">
                                    <i class="glyphicon glyphicon-star"></i>
                                    &nbsp;Calendar
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-content">

                        <div class="row">
                            <div id="search-results1"></div>
                        </div>
                        <div class="row">
                            <div id="search-results2"></div>
                        </div>
                        <script src="/Scripts/jquery-1.10.2.js"></script>
                        <script type="text/javascript" src="https://api.eventful.com/js/api"></script>
                        <script>
                            $(document).ready(function() {
                                var oArgs = {
                                    app_key: "D6WcnD6b7PwqctmP",
                                    q: "@Model.SelectedInterestsList.ElementAt(0)",
                                    where: "San Francisco",
                                    date: "Today",
                                    page_size: 5,
                                    sort_order: "popularity"
                                };
                                EVDB.API.call("/events/search",
                                    oArgs,
                                    function(oData) {
                                        var html = '';

                                        html += document.getElementById("search-results1")
                                            .innerHTML += '<div class="container col-md-6">' +
                                            '<div class="panel-group">' +
                                            '<div class="panel panel-default">' +
                                            '<div class="panel-heading">' +
                                            '<h4 class="panel-title">' +
                                            '<a data-toggle="collapse" href="#collapse1">' +
                                            "@Model.SelectedInterestsList.ElementAt(0)" +
                                            '</a>' +
                                            '</h4>' +
                                            '</div>' +
                                            '<div id="collapse1" class="panel-collapse collapse"> <div class="panel-body">' +
                                            '<ul>' +
                                            '<li>' +
                                            oData.events.event[0].title.substring(0, 20) +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                                            oData.events.event[0].start_time.replace("2017-", "") +
                                            '</li>' +
                                            '<li>' +
                                            oData.events.event[1].title.substring(0, 20) +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                                            oData.events.event[1].start_time.replace("2017-", "") +
                                            '</li>' +
                                            '<li>' +
                                            oData.events.event[2].title.substring(0, 20) +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                                            oData.events.event[2].start_time.replace("2017-", "") +
                                            '</li>' +
                                            '<li>' +
                                            oData.events.event[3].title.substring(0, 20) +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                                            oData.events.event[3].start_time.replace("2017-", "") +
                                            '</li>' +
                                            '<li>' +
                                            oData.events.event[4].title.substring(0, 20) +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                                            oData.events.event[4].start_time.replace("2017-", "") +
                                            '</li>' +
                                            '</ul>' +
                                            '</div>' +
                                            '</div>' +
                                            '</div>';

                                        $('search-results1').html(html);
                                    });
                            });
                            $(document).ready(function () {
                                var oArgs = {
                                    app_key: "D6WcnD6b7PwqctmP",
                                    q: "@Model.SelectedInterestsList.ElementAt(1)",
                                    where: "San Francisco",
                                    date: "Today",
                                    page_size: 5,
                                    sort_order: "popularity"
                                };
                                EVDB.API.call("/events/search",
                                    oArgs,
                                    function (oData) {
                                        var html = '';

                                        html += document.getElementById("search-results1")
                                            .innerHTML += '<div class="container col-md-6">' +
                                            '<div class="panel-group">' +
                                            '<div class="panel panel-default">' +
                                            '<div class="panel-heading">' +
                                            '<h4 class="panel-title">' +
                                            '<a data-toggle="collapse" href="#collapse2">' +
                                            "@Model.SelectedInterestsList.ElementAt(1)" +
                                            '</a>' +
                                            '</h4>' +
                                            '</div>' +
                                            '<div id="collapse2" class="panel-collapse collapse"> <div class="panel-body">' +
                                            '<ul>' +
                                            '<li>' +
                                            oData.events.event[0].title.substring(0, 20) +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                                            oData.events.event[0].start_time.replace("2017-", "") +
                                            '</li>' +
                                            '<li>' +
                                            oData.events.event[1].title.substring(0, 20) +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                                            oData.events.event[1].start_time.replace("2017-", "") +
                                            '</li>' +
                                            '<li>' +
                                            oData.events.event[2].title.substring(0, 20) +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                                            oData.events.event[2].start_time.replace("2017-", "") +
                                            '</li>' +
                                            '<li>' +
                                            oData.events.event[3].title.substring(0, 20) +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                                            oData.events.event[3].start_time.replace("2017-", "") +
                                            '</li>' +
                                            '<li>' +
                                            oData.events.event[4].title.substring(0, 20) +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                                            oData.events.event[4].start_time.replace("2017-", "") +
                                            '</li>' +
                                            '</ul>' +
                                            '</div>' +
                                            '</div>' +
                                            '</div>';

                                        $('search-results2').html(html);
                                    });
                            });
                        </script>

                        <br>
                    </div>                    
                    <center>
                        <div >
                            <div class="row" >
                                <button class="btn btn-default"  id="weatherButton" onclick="weatherAPI()">What's the weather like today?</button>
                                <br>
                                <br>
                                <div id="weather"></div>
                                <div id="temperature"></div>
                            </div>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                            <script>
                                            function weatherAPI() {
                                                var showWeather = $("#weather");
                                                var showTemp = $("#temperature");
                                                var zipCode = 94114;
                                                var apiKey = '00f51417e3df85ee3a440681e45de978';
                                                var location = "http://api.openweathermap.org/data/2.5/forecast/daily?zip=" + zipCode + "&APPID=" + apiKey + "&units=imperial";

                                                $.ajax({
                                                    url: location,
                                                    method: "GET",
                                                    dataType: "jsonp",
                                                    success: function (data) {
                                                        var high = data.list[0].temp.max;
                                                        var low = data.list[0].temp.min;
                                                        showWeather.empty();
                                                        showTemp.empty();

                                                        showWeather.append(data.list[0].weather[0].main + " in " + data.city.name);
                                                        showTemp.append("High:" + high + " " + "Low:" + low);
                                                    }
                                                });
                                            }
                            </script>


                        
                    </div>
                    </center>



                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>



