@using System.Web.UI.WebControls
@model IntegrationProject.ViewModels.UpdateInterestsViewModel
@{
    ViewBag.Title = "UpdateInterests";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<center><h2>Update Your Interests</h2></center>
<br /><br />
@using (Html.BeginForm("UpdateInterests", "DashBoard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <ul>
        <div class="row">
      <div class="col-lg-3">
    <div class="form-group">
        @Model.InterestsList.ElementAt(0) &nbsp;&nbsp;&nbsp;
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Comedy, true) Yes
            </label>
            <label class="btn btn-primary active">
                @Html.RadioButtonFor(m => m.Comedy, false) No
            </label>
        </div>
    </div>
    <div class="form-group">
        @Model.InterestsList.ElementAt(1) &nbsp;&nbsp;&nbsp;
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Concerts, true) Yes
            </label>
            <label class="btn btn-primary active">
                @Html.RadioButtonFor(m => m.Concerts, false) No
            </label>
        </div>
    </div>
    <div class="form-group">
        @Model.InterestsList.ElementAt(2) &nbsp;&nbsp;&nbsp;
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Conferences, true) Yes
            </label>
            <label class="btn btn-primary active">
                @Html.RadioButtonFor(m => m.Conferences, false) No
            </label>
        </div>
    </div>
    <div class="form-group">
        @Model.InterestsList.ElementAt(3) &nbsp;&nbsp;&nbsp;
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Education, true) Yes
            </label>
            <label class="btn btn-primary active">
                @Html.RadioButtonFor(m => m.Education, false) No
            </label>
        </div>
    </div>
    <div class="form-group">
        @Model.InterestsList.ElementAt(4) &nbsp;&nbsp;&nbsp;
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Family, true) Yes
            </label>
            <label class="btn btn-primary active">
                @Html.RadioButtonFor(m => m.Family, false) No
            </label>
        </div>
    </div>
    <div class="form-group">
        @Model.InterestsList.ElementAt(5) &nbsp;&nbsp;&nbsp;
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Festivals, true) Yes
            </label>
            <label class="btn btn-primary active">
                @Html.RadioButtonFor(m => m.Festivals, false) No
            </label>
        </div>
    </div>
    <div class="form-group">
        @Model.InterestsList.ElementAt(6) &nbsp;&nbsp;&nbsp;
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                @Html.RadioButtonFor(m => m.Film, true) Yes
            </label>
            <label class="btn btn-primary active">
                @Html.RadioButtonFor(m => m.Film, false) No
            </label>
        </div>
    </div>
</div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Model.InterestsList.ElementAt(7) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Food, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Food, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(8) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Fundraisers, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Fundraisers, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(9) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Galleries, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Galleries, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(10) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Health, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Health, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(11) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Holidays, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Holidays, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(12) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Literary, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Literary, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(13) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Musuems, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Musuems, false) No
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Model.InterestsList.ElementAt(14) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Neighboorhood, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Neighboorhood, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(15) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.NightLife, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.NightLife, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(16) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.OnCampus, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.OnCampus, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(17) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Organizations, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Organizations, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(18) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Outdoors, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Outdoors, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(19) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Pets, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Pets, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(20) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.PerformingArts, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.PerformingArts, false) No
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Model.InterestsList.ElementAt(21) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Politics, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Politics, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(22) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Sales, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Sales, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(23) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Science, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Science, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(24) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Spiritualality, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Spiritualality, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(25) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Sports, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Sports, false) No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Model.InterestsList.ElementAt(26) &nbsp;&nbsp;&nbsp;
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(m => m.Technology, true) Yes
                        </label>
                        <label class="btn btn-primary active">
                            @Html.RadioButtonFor(m => m.Technology, false) No
                        </label>
                    </div>
                </div>
            </div>
       </div>
    </ul>
    <br />
    <div class="form-group">
        <div class="row">
        <div class="col-lg-12">
          <center> <input type="submit" class="btn btn-default" value="Submit" /> </center>
        </div>
            </div>
    </div>
}